main {
  margin-top: 6em;
}

.headerCarrinho {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.headerCarrinho p span {
  font-weight: bold;
  margin-left: .2em;
}

.containerNotas {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.vermelho {
  color: red;
}

.verde {
  color: green;
}

.vazio {
  width: 80%;
  margin: 6em auto;
  padding: 1em;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .headerCarrinho{
    display: flex;
    flex-direction: column;
  }
  .headerCarrinho h1 {
    width: 100%;
    text-align: center;
    margin-bottom: .3em;
  }
}