.containerCadastro {
  padding: 1em;
  margin: 6em auto;
  width: 95%;
  border: 1px solid gainsboro;
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}